@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
  --primary: #fdbd0b;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}
